#head
{
	width:1350px;
	height:80px;
	background-color:#06C;
}
#menu
{
	width:1350px;
	height:50px;
	background-color:#333;
	text-shadow:#000 1px 1px 1px;
}
#menu ul
{
	display:inline;
}
#menu li
{
	display:inline;
	padding-left:100;
	padding-right:150;
	padding-top:50;
}
#menu a
{
	font-family:calibri;
	font-size:18px;
	color:#FFF;
	text-decoration:none;
}
#menu a:hover
{
	color:#F00;
}
#body
{
	width:1350px;
	height:435px;
	font-family:arial;
	font-size:20px;
	font-style:italic;
	font-weight:bold;
	color:blue;
	font-variant:small capitalize;
	text-shadow:#000 1px 1px 1px;
	text-transform:capitalize;
	background-attachment:fixed scroll;
	background-repeat:no-repeat;
	background-image:url(images/d2.jpeg);
	text-align:center;
}
#con
{
	width:1350px;
	height:40px;
	background-color:royalblue;
	font-size:30px;
	text-align:center;
}
#footer
{
	width:1350px;
	height:40px;
	background-color:slategray;
	font-size:20;
}